
  <div class="container">
    
    <main>
      <div class="card">
       
        <div class="infos">
          
          <h4  class="text">
           As long as we are not living in  harmony<br> with nature and our constitution,we<br> cannot expect ourselves to be really <br>shealed.Ayurveda gives us the means.
          </h4>
          <div class="name">
            <hr >
            <h2 style="text-align: right;">David Frawley</h2>
            
          </div>
          </div>
        </div>
            
           
    </main>
    <div class="sidebar">
        <div class="card">
            <div class="img">
              <img src=".\assets\doctor.jpg">
            </div>
            <div class="infos">
              <div class="name">
                <h2>Dr.S.Maheswari</h2>
                <h4>@maheswaris</h4>
              </div>
              <p class="text">
                I'm a Front End Developer, follow me to be the first 
                who see my new work.I'm a Front End Developer, follow me to be the first 
                who see my new work.
              </p>
              </div>
            </div>
         
    </div>
    
 
     
    <footer class="footer">
      <div class="footer-left col-md-4 col-sm-6">
        <p class="about">
          <span> About the company</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt,
          ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
        </p>
        <div class="icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="footer-center col-md-4 col-sm-6">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span> Street name and number</span> City, Country</p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p> (+00) 0000 000 000</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="#"> office@company.com</a></p>
        </div>
      </div>
      <div class="footer-right col-md-4 col-sm-6">
        <h2> Company<span> logo</span></h2>
        <p class="menu">
          <a href="#"> Home</a> |
          <a href="#"> About</a> |
          <a href="#"> Services</a> |
          <a href="#"> Portfolio</a> |
          <a href="#"> News</a> |
          <a href="#"> Contact</a>
        </p>
        <p class="name"> Company Name &copy; 2016</p>
      </div>
    </footer>
  </div>

  