<div class="container">
    
        <div id="img_box">
            <img src=".\assets\doctor.jpg">
          </div>
          <div id="infos1"><p><b>Name : </b>Mr.PatientName</p></div>
          <div id="infos2"><p><b>Age : </b>23</p></div>
          <div id="infos3"><p><b>Gender : </b>Male</p></div>
          <div id="infos4"><p><b>Phone No : </b>9999911111</p> </div>
          <div id="infos5"><p><b>Profession : </b>Farmer</p></div>
          <div id="infos6"><p><b>Address : </b>Gummidipoondi</p></div>
         
</div>
   



