<div class="form-container mat-elevation-z5">
    <h2>Login</h2>   

    <form [formGroup]= "loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" type="email">
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Email not Valid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">Enter the password</mat-error>
        </mat-form-field>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
       
        <span class="center margin-top">New User <a routerLink="/signup" class="sign-up-link">Sign Up!</a></span>
    </form>
</div>
 
