


    <div class="container">
        <header>Patient Investigation form</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                  

                    <div class="fields">
                        <div class="input-field">
                            <label>Date of Consultation</label>
                            <input type="date" placeholder="Enter the date" required>
                        </div>

                        <div class="input-field">
                            <label>Mode of Health Issue</label>
                            <select required>
                                <option disabled selected>Select</option>
                                <option>Fever</option>
                                <option>Head Ache</option>
                                <option>Skin Problems</option>
                                <option>Other Problems</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Treatment to Followed</label>
                            <select required>
                                <option disabled selected>Select</option>
                                <option>Solution1</option>
                                <option>Solution2</option>
                                <option>Solution3</option>
                                <option>Solution4</option>
                            </select>
                        </div>


                        <div class="input-field">
                            <label>Additional Details</label>
                           <textarea name="address" placeholder="Enter the details" cols="30" rows="4"></textarea>
                        </div>
                        

                        <div class="input-field">
                            <label>Prescription Details</label>
                            <input type="text" placeholder="Enter details" required>
                        </div>

                        <div class="input-field">
                            <label>Next Consulting date</label>
                            <input type="date" placeholder="Select the date" required>
                        </div>
                    </div>
                </div>
               
                    <button class="nextBtn">
                        <span class="btnText">Add</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
          

          
        </form>
    </div>


