<main>
 
    <div class="features">
     
      <div  routerLink="./add" class="feature feature-one">
        <h2 class="feature__title">Add Patient</h2>
        <p class="feature__desc">Add the basic details of the patient here</p>
        <img class="feature__img" width="100px" src=".\assets\patientadd.png" alt="">
      </div>
  
 
    
        <div routerLink="./list" class="feature feature-two">
          <h2 class="feature__title">View Patient</h2>
          <p class="feature__desc">Check the records of the patient and update the current status of the patient</p>
          <img class="feature__img" width="100px" src="https://kellychi22.github.io/frontend-mentor-solutions/10-four-card-feature-section/images/icon-calculator.svg" alt="">
        </div>
    
     
        <div routerLink="./up"  class="feature feature-three">
          <h2 class="feature__title">Upcoming Appointments</h2>
          <p class="feature__desc">Get the alerts of the upcomming appoinments for the patient consultation</p>
          <img class="feature__img" width="100px" src=".\assets\3301556.png" alt="">
        </div>
     
    </div>
    <div class="features">
      <div class="feature feature-four">
        <h2 class="feature__title">Pharma Intake</h2>
        <p class="feature__desc">Add the details of the medicine intake to the pharmacy</p>
        <img class="feature__img"  height="130" width="150" src=".\assets\pharmacy.png" alt="">
      </div>
      <div class="feature feature-five">
        <h2 class="feature__title">Pharma Stocks</h2>
        <p class="feature__desc">Check the current stock details of the medicine in pharmacy</p>
        <img class="feature__img" height="130" src=".\assets\stock.png" alt="">
      </div>
  
    <div class="feature feature-six">
      <h2 class="feature__title">Critical Stocks</h2>
      <p class="feature__desc">Get the alerts for the critical stocks for the pharmacy</p>
      <img class="feature__img" width="100px" src="https://kellychi22.github.io/frontend-mentor-solutions/10-four-card-feature-section/images/icon-karma.svg" alt="">
    </div>
  </div>

</main>

