<div class="form-container mat-elevation-z5">
    <h2>Login</h2>   

    <form [formGroup]= "signUpForm" (ngSubmit)="submit()" >
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" type="name">
            <mat-error *ngIf="name?.errors?.['required']">Name is required</mat-error>
            <mat-error *ngIf="name?.errors?.['name']">Name not Valid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" type="email">
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Email not Valid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">Enter the password</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password">
            <mat-error *ngIf="password?.errors?.['required']">Enter the password</mat-error>
        </mat-form-field>
        <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">Password Should Match</mat-error>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">SignUp</button>
        </div>
       
       
    </form>
</div>
 
