/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;   background-color: #ADE5F9;}

.form-container{
    display: block;
    max-width: 300px;
    min-width: 150px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5); 
    padding: 48px;
    border-radius: 10px;
 }
 .form-container mat-form-field{
    width: 100%;
    
 }

 .center{
    display: flex;
    justify-content: center;
 }

 .margin-top{
    margin-top: 16px;
 }

 .text-center{
    text-align: center;
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-color .mat-dialog-container{
   background-color: #ADE5F9;
 }